.aboutIpadPro1293Child {
    position: absolute;
    top: 820px;
    right: 0px;
    width: 305px;
    height: 732px;
    overflow: hidden;
    object-fit: cover;
}
.aboutIpadPro1293Item {
    position: absolute;
    top: -235.84px;
    left: calc(50% + 14.65px);
    border-radius: 50%;
    background-color: #000;
    filter: blur(304px);
    width: 855.45px;
    height: 855.45px;
    transform:  rotate(15deg);
    transform-origin: 0 0;
    opacity: 0.35;
}
.circleBgIcon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 412px;
    height: 461px;
    object-fit: cover;
}
.maskGroupIcon {
    position: absolute;
    top: 26px;
    left: 62.76px;
    width: 90.24px;
    height: 87.25px;
    object-fit: cover;
}
.home {
    position: relative;
    text-transform: capitalize;
}
.trade {
    position: relative;
    text-transform: capitalize;
    cursor: pointer;
}
.about {
    position: relative;
    text-transform: capitalize;
    color: #ffe500;
    cursor: pointer;
}
.homeParent {
    position: absolute;
    top: 60px;
    left: 215px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 38px;
    font-size: 16px;
}
.aboutIpadPro1293Inner {
    position: absolute;
    top: 52px;
    left: 701px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    object-fit: cover;
    cursor: pointer;
}
.mingcutewallet4FillIcon1 {
    position: relative;
    width: 23px;
    height: 23px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.connectWallet {
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
}
.mingcutewallet4FillParent {
    position: absolute;
    top: 49px;
    left: 763.5px;
    border-radius: 10px;
    background: linear-gradient(180deg, #ffe500, #fff492);
    backdrop-filter: blur(12px);
    display: flex;
    flex-direction: row;
    padding: 9px 16px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    color: #1f1330;
}
.unionIcon2 {
    position: relative;
    width: 20.31px;
    height: 20.31px;
    object-fit: cover;
}
.unionIcon3 {
    position: relative;
    width: 13.54px;
    height: 13.54px;
    object-fit: cover;
}
.groupChild {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #141315;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08) inset;
    width: 1024px;
    height: 328px;
}
.maskGroupIcon1 {
    position: absolute;
    bottom: 139px;
    left: 303px;
    width: 113.76px;
    height: 110px;
    object-fit: cover;
}
.mediaInquiresFor1 {
    position: relative;
    text-transform: capitalize;
    opacity: 0.5;
}
.mediaInquiresForCmaxContParent {
    position: absolute;
    bottom: 0px;
    left: 127.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.tradeParent {
    position: absolute;
    bottom: 88px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 38px;
    text-align: left;
}
.maskGroupParent {
    position: absolute;
    bottom: 51px;
    left: 152px;
    width: 720px;
    height: 249px;
}
.rectangleParent {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 1024px;
    height: 328px;
    text-align: center;
    font-size: 20px;
}
.aboutUs {
    position: absolute;
    top: 257px;
    left: calc(50% - 437px);
    font-size: 50px;
    text-transform: capitalize;
    font-family: 'Monument Extended';
    background: linear-gradient(180deg, #ffe500, #fff492);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 900px;
}
.roadMap {
    position: absolute;
    top: 617.55px;
    left: calc(50% - 437px);
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 500;
    color: #ffe500;
    display: inline-block;
    width: 900px;
}
.ourVision1 {
    position: absolute;
    bottom: 715.15px;
    left: calc(50% - 437px);
    font-size: 43px;
    text-transform: capitalize;
    font-weight: 500;
    background: linear-gradient(180deg, #ffe500, #fff492);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 900px;

}
.blankLine {
    margin: 0;
}
.loremIpsumDolorContainer {
    position: absolute;
    top: 347px;
    left: 79px;
    letter-spacing: -0.02em;
    line-height: 30px;
    display: inline-block;
    width: 873px;
}
.loremIpsumDolorContainer1 {
    position: absolute;
    top: 707.55px;
    left: 79px;
    letter-spacing: -0.02em;
    line-height: 30px;
    display: inline-block;
    width: 873px;
}
.loremIpsumDolorContainer2 {
    position: absolute;
    bottom: 532.15px;
    left: calc(50% - 433px);
    letter-spacing: -0.02em;
    line-height: 30px;
    display: inline-block;
    width: 873px;
}
.groupItem {
    position: absolute;
    top: 17.5px;
    left: -0.5px;
    border-radius: 220px;
    width: 775px;
    height: 1069px;
    object-fit: cover;
}
.groupInner {
    position: absolute;
    top: 3px;
    left: 376px;
    border-radius: 50%;
    background: linear-gradient(180deg, #ffe500, #fff492);
    width: 30px;
    height: 30px;
}
.ellipseDiv {
    position: absolute;
    top: 272px;
    left: 376px;
    border-radius: 50%;
    background: linear-gradient(180deg, #ffe500, #fff492);
    width: 30px;
    height: 30px;
}
.groupChild1 {
    position: absolute;
    top: 542px;
    left: 376px;
    border-radius: 50%;
    background: linear-gradient(180deg, #ffe500, #fff492);
    width: 30px;
    height: 30px;
}
.groupChild2 {
    position: absolute;
    top: 814px;
    left: 376px;
    border-radius: 50%;
    background: linear-gradient(180deg, #ffe500, #fff492);
    width: 30px;
    height: 30px;
}
.div {
    position: absolute;
    top: 0px;
    left: 387px;
    line-height: 36px;
    text-transform: capitalize;
}
.div1 {
    position: absolute;
    top: 268px;
    left: 385px;
    line-height: 36px;
    text-transform: capitalize;
}
.div2 {
    position: absolute;
    top: 539px;
    left: 385px;
    line-height: 36px;
    text-transform: capitalize;
}
.div3 {
    position: absolute;
    top: 811px;
    left: 385px;
    line-height: 36px;
    text-transform: capitalize;
}
.frameDiv {
    position: absolute;
    top: 557px;
    left: 468px;
    width: 1px;
    height: 5px;
    overflow: hidden;
}
.groupChild3 {
    position: absolute;
    top: 75px;
    left: 598px;
    border-radius: 50%;
    background-color: #1b3530;
    width: 134px;
    height: 134px;
}
.groupChild4 {
    position: absolute;
    top: 354px;
    left: 60px;
    border-radius: 50%;
    background-color: #35321b;
    width: 134px;
    height: 134px;
}
.groupChild5 {
    position: absolute;
    top: 624px;
    left: 588px;
    border-radius: 50%;
    background-color: #351b2f;
    width: 134px;
    height: 134px;
}
.groupChild6 {
    position: absolute;
    top: 898px;
    left: 64px;
    border-radius: 50%;
    background-color: #35321b;
    width: 134px;
    height: 134px;
}
.rectangleDiv {
    position: absolute;
    top: 62px;
    left: 376px;
    border-radius: 11px 83px 83px 11px;
    background: linear-gradient(180deg, rgba(71, 71, 71, 0.52), rgba(40, 39, 41, 0.52));
    backdrop-filter: blur(46px);
    width: 367px;
    height: 178px;
}
.groupChild7 {
    position: absolute;
    top: 604px;
    left: 376px;
    border-radius: 13px 83px 83px 13px;
    background: linear-gradient(180deg, rgba(71, 71, 71, 0.52), rgba(40, 39, 41, 0.52));
    backdrop-filter: blur(46px);
    width: 367px;
    height: 178px;
}
.groupChild8 {
    position: absolute;
    top: 332px;
    left: 39px;
    border-radius: 83px 13px 13px 83px;
    background: linear-gradient(180deg, rgba(71, 71, 71, 0.52), rgba(40, 39, 41, 0.52));
    backdrop-filter: blur(46px);
    width: 367px;
    height: 178px;
}
.groupChild9 {
    position: absolute;
    top: 876px;
    left: 39px;
    border-radius: 83px 13px 13px 83px;
    background: linear-gradient(180deg, rgba(71, 71, 71, 0.52), rgba(40, 39, 41, 0.52));
    backdrop-filter: blur(46px);
    width: 367px;
    height: 178px;
}
.q1 {
    position: absolute;
    top: 88px;
    left: 404px;
    font-size: 24px;
    font-family: 'Monument Extended';
    background: linear-gradient(263.1deg, #bbfa09, #9efa09);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.q3 {
    position: absolute;
    top: 630px;
    left: 404px;
    font-size: 24px;
    font-family: 'Monument Extended';
    background: linear-gradient(263.1deg, #bbfa09, #9efa09);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.q2 {
    position: absolute;
    top: 354px;
    left: 339px;
    font-size: 24px;
    font-family: 'Monument Extended';
    background: linear-gradient(263.1deg, #bbfa09, #9efa09);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
}
.q4 {
    position: absolute;
    top: 898px;
    left: 339px;
    font-size: 24px;
    font-family: 'Monument Extended';
    background: linear-gradient(263.1deg, #bbfa09, #9efa09);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
}
.distributionTokenCbcContainer {
    position: absolute;
    top: 137px;
    left: 398px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
}
.distributionTokenCbcContainer1 {
    position: absolute;
    top: 679px;
    left: 398px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
}
.distributionTokenCbcContainer2 {
    position: absolute;
    top: 403px;
    left: 223px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
    text-align: right;
}
.distributionTokenCbcContainer3 {
    position: absolute;
    top: 947px;
    left: 223px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
    text-align: right;
}
.vectorParent {
    position: absolute;
    top: 961px;
    left: 125px;
    width: 774px;
    height: 1086px;
    font-size: 22px;
    color: #000;
}
.license {
    position: absolute;
    bottom: 1110px;
    left: 79px;
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 500;
    color: #ffe500;
}
.aboutIpadPro1293Child1 {
    position: absolute;
    bottom: 432.54px;
    left: 79px;
    border-radius: 11px;
    background: linear-gradient(180deg, rgba(71, 71, 71, 0.52), rgba(40, 39, 41, 0.52));
    backdrop-filter: blur(46px);
    width: 880px;
    height: 618px;
    overflow: hidden;
}
.image1Icon {
    position: absolute;
    top: 12.95px;
    left: calc(50% - 416px);
    width: 877.19px;
    height: 1240.25px;
    object-fit: cover;
    mix-blend-mode: multiply;
}
.image1Wrapper {
    position: absolute;
    bottom: 455.54px;
    left: 103px;
    border-radius: 11px;
    background-color: #e6e6e6;
    width: 832px;
    height: 572px;
    overflow: hidden;
}
.vectorIcon {
    position: absolute;
    bottom: 1235.77px;
    left: 79px;
    border-radius: 220px;
    width: 873px;
    height: 1px;
    object-fit: cover;
}
.frameChild {
    position: absolute;
    top: 813.69px;
    left: 0px;
    width: 1263.35px;
    height: 625.53px;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0.2;
    mix-blend-mode: luminosity;
}
.rectangleWrapper {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 1024px;
    height: 625px;
}
.meetOurTeam1 {
    position: absolute;
    bottom: -277.69px;
    left: 69.5px;
    text-transform: capitalize;
    font-weight: 500;
    background: linear-gradient(180deg, #ffe500, #fff492);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.maskGroupIcon2 {
    position: absolute;
    bottom: 136px;
    left: 1px;
    width: 180px;
    height: 180px;
    object-fit: cover;
}
.maskGroupIcon3 {
    position: absolute;
    bottom: 136px;
    left: 307px;
    width: 180px;
    height: 180px;
    object-fit: cover;
}
.maskGroupIcon4 {
    position: absolute;
    bottom: 136px;
    left: 604px;
    width: 180px;
    height: 180px;
    object-fit: cover;
}
.gianlucaDiBella3 {
    position: absolute;
    bottom: 73px;
    left: 0px;
    line-height: 30px;
    text-transform: capitalize;
    background: linear-gradient(263.1deg, #bbfa09, #9efa09);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gianlucaDiBella4 {
    position: absolute;
    bottom: 73px;
    left: 306px;
    line-height: 30px;
    text-transform: capitalize;
    background: linear-gradient(263.1deg, #bbfa09, #9efa09);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gianlucaDiBella5 {
    position: absolute;
    bottom: 73px;
    left: 603px;
    line-height: 30px;
    text-transform: capitalize;
    background: linear-gradient(263.1deg, #bbfa09, #9efa09);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ceoAndCoFounder {
    position: absolute;
    bottom: 40px;
    left: 16px;
    font-size: 16px;
    line-height: 30px;
    text-transform: capitalize;
}
.ceoAndCoFounder1 {
    position: absolute;
    bottom: 40px;
    left: 322px;
    font-size: 16px;
    line-height: 30px;
    text-transform: capitalize;
}
.ceoAndCoFounder2 {
    position: absolute;
    bottom: 40px;
    left: 619px;
    font-size: 16px;
    line-height: 30px;
    text-transform: capitalize;
}
.groupIcon {
    position: absolute;
    bottom: 0px;
    left: 63px;
    width: 57px;
    height: 22px;
    object-fit: cover;
}
.groupChild10 {
    position: absolute;
    bottom: 0px;
    left: 369px;
    width: 57px;
    height: 22px;
    object-fit: cover;
}
.groupChild11 {
    position: absolute;
    bottom: 0px;
    left: 666px;
    width: 57px;
    height: 22px;
    object-fit: cover;
}
.maskGroupGroup {
    position: absolute;
    bottom: -644.69px;
    left: 119.5px;
    width: 785px;
    height: 316px;
    text-align: center;
    font-size: 24px;

}
.frameParent {
    position: absolute;
    bottom: 1698.17px;
    left: 0px;
    width: 1024px;
    height: 625px;
    font-size: 43px;
}
.aboutIpadPro1293 {
    position: relative;
    background: linear-gradient(180deg, #201d26, #1d1b20);
    width: 100%;
    height: 2965px;
    overflow: hidden;
    text-align: left;
    font-size: 18px;
    color: #fff;
    font-family: 'Neue Montreal';
}

@media (min-width: 768px) and (max-width: 800px){
    .homeParent{
        position: absolute;
    top: 60px;
    left: 215px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
    font-size: 16px;
    }
    .mingcutewallet4FillParent{
        position: absolute;
    top: 45px;
    left: 584.5px;
    border-radius: 10px;
    background: linear-gradient(180deg, #ffe500, #fff492);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    display: flex;
    flex-direction: row;
    padding: 9px 16px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    color: #1f1330;
    }
    .loremIpsumDolorContainer{
        position: absolute;
    top: 347px;
    left: 15px;
    padding: 0 119px 0 0;
    letter-spacing: -0.02em;
    line-height: 30px;
    display: inline-block;
    width: 873px;
    }
    .vectorParent{
        position: absolute;
    top: 961px;
    left: -3px;
    width: 774px;
    height: 1086px;
    font-size: 22px;
    color: #000;
    }
    .loremIpsumDolorContainer2{
        position: absolute;
    bottom: 493.15px;
    left: calc(57% - 433px);
    letter-spacing: -0.02em;
    padding: 0 124px 0 0;
    line-height: 30px;
    display: inline-block;
    width: 873px;

    }
    .maskGroupParent{
        position: absolute;
        bottom: 51px;
        left: 45px;
        width: 720px;
        height: 249px;
    }
    .ourVision1{
        position: absolute;
    bottom: 715.15px;
    left: calc(57% - 437px);
    font-size: 43px;
    text-transform: capitalize;
    font-weight: 500;
    background: linear-gradient(180deg, #ffe500, #fff492);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 900px;
    }
    .groupItem{
        position: absolute;
    top: 17.5px;
    left: 7.5px;
    border-radius: 220px;
    width: 775px;
    height: 1069px;
    -o-object-fit: cover;
    object-fit: cover;
    }
    .loremIpsumDolorContainer1{
        position: absolute;
    top: 707.55px;
    padding: 0 112px 0 0;
    left: 19px;
    letter-spacing: -0.02em;
    line-height: 30px;
    display: inline-block;
    width: 873px;

    }
    .roadMap{
        position: absolute;
    top: 617.55px;
    left: calc(57% - 437px);
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 500;
    color: #ffe500;
    display: inline-block;
    width: 900px;
    }
    .aboutUs{
        position: absolute;
    top: 257px;
    left: calc(56% - 437px);
    font-size: 50px;
    text-transform: capitalize;
    font-family: 'Monument Extended';
    background: linear-gradient(180deg, #ffe500, #fff492);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 900px;
    }
}