.toolTipChild {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 11px;
    background: linear-gradient(180deg, rgba(71, 71, 71, 0.4), rgba(40, 39, 41, 0.4));
    backdrop-filter: blur(46px);
    width: 430px;
    height: 232px;
}
.loremIpsumDolor1 {
    position: absolute;
    top: 20px;
    left: 29px;
    line-height: 37px;
    display: inline-block;
    width: 385px;
    height: 183px;
}
.toolTip {
    position: relative;
    width: 430px;
    height: 232px;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    text-align: left;
    font-size: 22px;
    color: #fff;
    font-family: 'Neue Montreal';
}



